@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Averia+Gruesa+Libre&family=Bad+Script&family=Permanent+Marker&display=swap');



* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#logo {

    height: 30px;
    padding-left: 35px;
}
nav {
    
    display: flex;
    align-items: center;
    justify-content:space-between;

    height: 35px;
    width: 100%;

    background-color: rgba(74,4,4);
    font-family: 'Averia Gruesa Libre', cursive;

    overflow: auto;
    white-space: nowrap;

}

nav ul {

    display: flex;
    justify-content: end;
    align-content: center;
    padding-right: 10%;
    
}

nav li { 

    list-style: none;
    padding-left: 20px;

}
nav a {

    text-decoration: none;
    color: rgba(214,179,106,0.5);
    font-size: 1rem;

}

nav a:hover{

    text-decoration: none;
    color: rgba(214,179,106);
    font-size: 1rem;

}



main {

    display: flexbox;
    text-align: center;
    padding: 2.5%;
    font-family: 'Averia Gruesa Libre', cursive;
    background-color: rgba(214,179,106,0.2);
}

main h2 {

    color: rgb(74,4,4);

}

main h2:hover {

    text-decoration:underline;

}
main ul {

    display: flex;
    align-content:space-around;
    justify-content: space-around;
    margin: 4% 12%;
    flex-wrap: wrap;
    list-style: none;

}

main li {

    display: flexbox;

    margin: 3%;
    min-height: 300px;
    height: auto;
    width: 250px ;
    border-radius: 15px;
    padding: 4% 2%;

}

main li:hover {

    background-color: rgba(214,179,106,0.1);
    border-bottom: solid 4px rgb(74,4,4);
}

main img {

    height: 180px;
    width: 150px;
    align-content: center;

}

main h3 {

    color: rgb(74,4,4);
    padding: 8% 5%;
}

main p {

    
    padding: 2% 5% 20% 5%;
    padding-bottom: 10px;
}


footer { 

    width: 100%;
    height: auto;

    display: flex;
    align-content: center;
    justify-content: space-around;

    flex-wrap: wrap;


    background-color: white;
    color: rgb(74,4,4);

    font-family: 'Averia Gruesa Libre', cursive;

    
}

.informacion {

    display: flexbox;
    padding: 40px 10%;
    width: auto;
    font-size: 0.9rem;
}



.informacion h3 {

    margin-top: 10px;
    margin-bottom: 10px;
    
}

.informacion li {
    list-style: none;
}

.redes_sociales {

    display: flexbox;
    text-align: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin-top: 40px;

}

.redes_sociales ul {

    display: flex;
    justify-content: space-around;

    list-style: none;

}

.redes_sociales li {

    padding: 10%;
    justify-content: center;

}
.redes_sociales img {

    height: 50px;
    width: 50px;

}